*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
}
.heading_container{
    height: 15%;
    background-color: aquamarine;
    padding: 2%;
    text-align: center;
}
.main_container{
    display: flex;
}

.side_bar{
    width: 25%;
    height: 85vh;
    background-color: rgb(189, 202, 202);
    padding: 2%;
}
.list_heading{
    padding: 5% 1%;
    /* background-color: antiquewhite; */
    color: brown;
}
.list_container ul{

}
.list_container ul li{
    list-style: none;
    height: 5vh;
    padding-top: 2%
    
}
.list_container ul li:hover{
    background-color: bisque;
}

.movie_detail{
    width: 50%;
    height: 85vh;
    background-color: lightblue;
    padding: 2%;
    display: flex;
}
.extra_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15% 2%;
}
.form_container{
    width: 25%;
    height: 85vh;
    padding: 3% 1%;
    background-color: lightsalmon;
}
.input{
    margin: 3% 0%;
    width: 100%;
    display: block;
}