*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
}
.heading_container{
    height: 15%;
    background-color: rgb(242, 248, 246);
    padding: 2%;
    text-align: center;
}
.main_container{
    display: flex;
}

.side_bar{
    width: 22%;
    height: 85vh;
    background-color: rgb(242, 248, 246);
    padding: 2%;
    overflow-y: scroll;

}
.list_heading{
    padding: 5% 1%;
    /* background-color: antiquewhite; */
    color: rgb(194, 29, 183);
}

.list_container ul li{
    list-style: none;
    height: auto;
    min-height: 4vh;
    padding-top: 0.5%;  
    font-size: 0.9em;
    overflow-wrap: break-word;
}
.list_container ul li:hover{
    background-color: blue;
}

.movie_detail{
    width: 53%;
    height: 85vh;
    background-image: linear-gradient(blue, lightblue);
    padding: 2%;
    display: flex;
}

.movie_detail button{
    background-color: rgb(194, 29, 183);
    padding: 2%;

}
.extra_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15% 2%;
}
.form_container{
    width: 25%;
    height: 85vh;
    padding: 3% 1%;
    background-color: rgb(242, 248, 246);
}
.form_container div h4{
    color: rgb(194, 29, 183);
}

.input{
    margin: 3% 0%;
    width: 100%;
    display: block;
}
#form label{
    font-size: 0.9em;
}
#form button{
    background-color: green;
    padding: 2%;
    margin: 2% 0.5%;
}
#deleteForm{
    margin-top: 20%;
}

#deleteForm #deletebtn{
    background-color: brown;
    padding: 2%;
}